/* contact */

/* maps */

$formStyle: (
    color: rgb(247, 235, 216),
    border-radius: 10px,
    max-width: 600px,
);

main {
    form {
        background-color: map-get($formStyle, color );
        width: 90%;
        max-width: map-get($formStyle, max-width);
        margin: 2rem auto !important;
        padding: 4.5em 3em;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgb(0, 0, 0 );
        .row {
            .col {
                label {
                    font-size: 18px;
                    font-family: 'Roboto', sans-serif;
                    margin: 5px;
                }
            }
        }
    }
    .col-12 {
        .enviar {
            width:100%;
            padding:8px 16px;
            margin-top:32px;    
            border-radius:5px;
            color: white;
        }
        .borrar {
            @extend .enviar;
            background-color: lightblue;
        }
    }
}

/* end contact */