

/* main ol {
    font-size: 20px;
    font-style: italic;
    padding: 10px;
} */


/* media queries */






/* main .viandas {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 20px;
    grid-template-areas: 
     "a b"
     "c d"
    ;
}

.img4 .img8 {
    grid-area: e;
}

.img5 .img9 {
    grid-area: f;
}

.img6 .img10 {
    grid-area: g;
}

.img7 .img11 {
    grid-area: h;
} */


/* end viandas */

/* Services */

